#notification {
  display: none;
}

.pop-up {
  background-color: #10b981;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  vertical-align: middle;
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.445);
  animation-name: popup;
  animation-duration: 2s;
  position: absolute;
  top: 30px;
  right: 20px;
}

.pop-up p {
  font-size: 1.4rem;
  text-align: center;
  color: #f1f5f9;
  font-weight: bold;
  line-height: 70px;
}
