@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --background: #1f2937c8;
  --white-text: #f1f5f9;
  --secondary-text: #b8c5d6;
  --main-green: #10b981;
  --button-background: #1e293b92;

  --shadow-color: 329deg 42% 7%;
  --shadow-elevation-low:
    0.3px 0.3px 0.3px hsl(var(--shadow-color) / 1),
    1.6px 1.7px 1.8px -5px hsl(var(--shadow-color) / 0.78);
  --shadow-elevation-medium:
    0.3px 0.3px 0.3px hsl(var(--shadow-color) / 1),
    7.9px 8.4px 8.6px -5px hsl(var(--shadow-color) / 1);
  --shadow-elevation-high:
    0.3px 0.3px 0.3px hsl(var(--shadow-color) / 1),
    2.1px 2.2px 2.3px -1.7px hsl(var(--shadow-color) / 1),
    14.3px 15.2px 15.7px -3.3px hsl(var(--shadow-color) / 1),
    47.6px 50.6px 52.1px -5px hsl(var(--shadow-color) / 0.51);
}

* {
  font-family: 'Nunito', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-image:
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.06)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"),
    linear-gradient(45deg,
      hsl(240deg 100% 20%) 0%,
      hsl(289deg 100% 21%) 11%,
      hsl(315deg 100% 27%) 22%,
      hsl(329deg 100% 36%) 33%,
      hsl(337deg 100% 43%) 44%,
      hsl(357deg 91% 59%) 56%,
      hsl(17deg 100% 59%) 67%,
      hsl(34deg 100% 53%) 78%,
      hsl(45deg 100% 50%) 89%,
      hsl(55deg 100% 50%) 100%);
}

#container {
  width: 600px;
  height: 80vh;
  background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.445);
  padding: 30px;
}

#content h1 {
  color: var(--white-text);
  font-size: 3rem;
  font-weight: bolder;
}

#content h2 {
  color: var(--main-green);
  font-weight: bolder;
  font-size: 3rem;
  line-height: 25px;
}

#content p {
  color: var(--secondary-text);
  font-size: 1.2rem;
  padding: 25px 0;
  font-weight: bold;
}

#settings {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "range range range"
    "symbol button button"
    "letter button button";
  row-gap: 5px;
}

#input-range {
  grid-area: range;
}

#input-symbols {
  grid-area: symbol;
}

#input-letters {
  grid-area: letter;
}

#generator-btn {
  grid-area: button;
  place-self: center;
}

#generator-btn button {
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);
  transition: ease-in-out 0.08s;
  color: var(--white-text);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 12px;
}

#generator-btn button img {
  padding-right: 5px;
}

#generator-btn button:active {
  box-shadow: var(--shadow-elevation-low);
  transform: scale(0.96);
}

#generator-btn img {
  width: 20px;
  display: inline;
}

hr {
  border: 1px solid var(--button-background);
  border-radius: 1px;
  margin: 30px 0;
}

#options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px;
}

.password-btn {
  background-color: var(--button-background);
  border-radius: 8px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-green);
}

.password-btn img {
  width: 30px;
  filter: opacity(0.1);
}
