@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  /** COLORS */
  --background: #1f29379f;
  --white-text: #f1f5f9;
  --secondary-text-1: #c0c3c4;
  --secondary-text-2: #94a3b8;
  --main-green: #10b981;
  --button-background: #273549;
}

* {
  font-family: 'Nunito', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-image:
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.06)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"),
    linear-gradient(45deg,
      hsl(240deg 100% 20%) 0%,
      hsl(289deg 100% 21%) 11%,
      hsl(315deg 100% 27%) 22%,
      hsl(329deg 100% 36%) 33%,
      hsl(337deg 100% 43%) 44%,
      hsl(357deg 91% 59%) 56%,
      hsl(17deg 100% 59%) 67%,
      hsl(34deg 100% 53%) 78%,
      hsl(45deg 100% 50%) 89%,
      hsl(55deg 100% 50%) 100%);
}

#container {
  width: 600px;
  height: 75vh;
  background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.445);
  padding: 30px;
}

#generator-btn button {
  background-color: #10b981;
}

#generator-btn img {
  width: 20px;
  display: inline;
}

.password-btn {
  background-color: #475569;
  border-radius: 8px;
  padding: 10px 30px;
  outline: none;
  border: none;
  cursor: pointer;
}
